calypso-api/dist/*
calypso-api/node_modules/*
.idea/*
.vscode/*
/api/Calypso.Adapters.Out/obj/*
/api/Calypso.Adapters.Out/bin/*
/api/Calypso.Domain/obj/*
/api/Calypso.Domain/bin/*
/api/Calypso.Infrastructure/obj/*
/api/Calypso.Infrastructure/bin/*
/api/Calypso.Api/obj/*
/api/Calypso.Api/bin/*
/api/Calypso.Presentation/bin/*
/api/Calypso.Presentation/obj/*
/api/Calypso.UseCases/bin/*
/api/Calypso.UseCases/obj/*
database/.DS_Store
api/.DS_Store
**/.DS_Store
.DS_Store
api/Web.Domain/obj/*
api/Web.Domain/bin/*
api/Web.Presentation/obj/*
api/Web.Presentation/bin/*
.gitignore
api/Web.UseCases/obj/*
api/Web.UseCases/bin/*
api/Web.Infrastructure/bin/*
api/Web.Infrastructure/obj/*
api/Web.Api/obj/*
api/Web.Api/bin/*
api/Web.Adapters.Out/obj/*
api/Web.Adapters.Out/bin/*

